.newForm {
    text-align: left;
    padding-top: 50px;
    padding-left: 150px;
}

.ajaxForm {
    text-align: left;
    padding-top: 50px;
    padding-left: 150px;
}

.header1 {
    text-align: center;
    padding-top: 20px;
}

.lorem {
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;
}